<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org..DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bo.board.model.mapper.BoardMapper">
	<insert id="insertImg">
		insert into image
		values(seq_img.nextval, #{originalName}, #{renameName}, 0)
	</insert>
	<select id="selectList">
		select * from board
	</select>
	<insert id="insertBoard">
		<selectKey order="BEFORE" resultType="_int" keyProperty="boardId">
			select seq_bid.nextval from dual
		</selectKey>
			insert into board
			values(#{boardId}, #{boardTitle}, #{boardWriter}, #{boardContent},
				sysdate, 0)
	</insert>
</mapper>