<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Board List</title>
<style>
td{
	border: 1px solid lightgray;
	text-align: center;
}
tr>td:nth-child(1){
	width: 350px;
	padding-left: 20px;
	text-align: left;
}
tr>td:nth-child(2){
	width: 150px;
}
tr>td:nth-child(3){
	width: 50px;
}
</style>
</head>
<body>
	<div>
		<table>
			<thead>
				<th>제목</th>
				<th>작성일</th>
				<th>조회수</th>
			</thead>
			<tbody>
				<tr>
					<td>가나다라마바사아자차카타파하</td>
					<td>2024년 3월 1일</td>
					<td>33</td>
				</tr>
					<td>가나다라마바사아자차카타파하</td>
					<td>2024년 2월 28일</td>
					<td>13</td>
				</tr>
			</tbody>
		</table>
		<button onclick="location.href='/board/write'">write</button>
	</div>
</body>
</html>