<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Board List</title>
<style>
td{
	border: 1px solid lightgray;
	text-align: center;
}
tr>td:nth-child(1){
	width: 350px;
	padding-left: 20px;
	text-align: left;
}
tr>td:nth-child(2){
	width: 150px;
}
tr>td:nth-child(3){
	width: 50px;
}
</style>
</head>
<body>
	<div>
		<table>
			<thead>
				<th width="300px">제목</th>
				<th width="100px">작성자</th>
				<th width="100px">작성일</th>
				<th width="50px">조회수</th>
			</thead>
			<tbody>
				<tr th:each="b : ${blist}">
					<input type="hidden" th:value="${b.boardId}" id="boardId" name="boardId">
					<td>[[${b.boardTitle}]]</td>
					<td>[[${b.boardWriter}]]</td>
					<td>[[${b.createDate}]]</td>
					<td>[[${b.boardCount}]]</td>
				</tr>
			</tbody>
		</table>
		<button onclick="location.href='/board/write'">write</button>
	</div>
	<script type="text/javascript" th:inline="javascript">
		const trs = document.getElementsByTagName("tr");
		for (const tr of trs){
			tr.addEventListener("click", function(){
				const bid = document.getElementById("boardId").value;
				console.log(bid, typeof bid);
				location.href="/board/detail/"+bid;
			});
		}
	</script>
</body>
</html>